
@font-face {
    font-family: 'zain';
    src: url('./fonts/Zain-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";

@theme{
    --font-zain: zain, "sans-sariff";
}
